body {
}

.GVFixedHeader2 {
    position: relative;
    top: expression(this.offsetParent.scrollTop);
    z-index: 10

}

.GVFixedHeader {
    font-weight: bold;
    background-color: Green;
    position: relative;
    top: expression(this.parentNode.parentNode.parentNode.scrollTop-1);
}

.GridViewContainer {
    overflow-y: scroll;
    overflow-x: hidden;
}

.text-center-impt {
    text-align:center !important;
}

.text-bold {
    font-weight: bold;
}

.text-italics {
    font-style:italic;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-right-5 {
    margin-right:5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.floating-header {
    position: fixed;
    width: 100%
}

.floating-header-alt {
    display: flex;
    position: fixed;
    width: 74.7%;
    background-color: rgba(211, 211, 211, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.floating-header-col-start {
    width: 0.6%;
}

.floating-header-col-end {
    width: 0%;
}

.floating-header-col1 {
    width: 10%;
}

.floating-header-col2 {
    width: 20%;
}

.floating-header-col3 {
    width: 15%;
}

.floating-header-col4 {
    width: 25%;
}

.floating-header-col5 {
    width: 12%;
}

.floating-header-col6 {
    width: 8%;
}

.floating-header-col7 {
    width: 1%;
}